In [1]:
import pandas as pd
import matplotlib.pyplot as plt

# Charger le fichier Excel
data = pd.read_excel("C:\\Users\\MSI\\Desktop\\Cleaned2_HR_Employee_Attrition.xlsx")


# Afficher les premières lignes du dataset pour vérifier
print(data.head())

   Age  Attrition  Business Travel  Daily Rate  Department  \
0   41          1                2        1102           2
1   49          0                1         279           1
2   37          1                2        1373           1
3   33          0                1        1392           1
4   27          0                2         591           1

   Distance From Home  Education  Education Field  Environment Satisfaction  \
0                   1          2                1                         2
1                   8          1                1                         3
2                   2          2                4                         4
3                   3          4                1                         4
4                   2          1                3                         1

   Hourly Rate  ...  Relationship Satisfaction  Stock Option Level  \
0           94  ...                          1                   0
1           61  ...                          4                   1
2           92  ...                          2                   0
3           56  ...                          3                   0
4           40  ...                          4                   1

   Total Working Years  Training Times Last Year  Work Life Balance  \
0                    8                         0                  1
1                   10                         3                  3
2                    7                         3                  3
3                    8                         3                  3
4                    6                         3                  3

   Years At Company  Years In Current Role  Years Since Last Promotion  \
0                 6                      4                           0
1                10                      7                           1
2                 0                      0                           0
3                 8                      7                           3
4                 2                      2                           2

   Years With Curr Manager  Gender_Male
0                        5            0
1                        7            1
2                        0            1
3                        0            0
4                        2            1

[5 rows x 31 columns]

In [2]:
essential_columns = [
    'Age', 'Department', 'Job Role', 
    'Job Satisfaction', 'Monthly Income', 'Over Time', 
    'Total Working Years', 'Years At Company','Attrition'
]

# Filtrer le dataset
filtered_data = data[essential_columns]

# Aperçu des données filtrées
print(filtered_data.head())

   Age  Department  Job Role  Job Satisfaction  Monthly Income  Over Time  \
0   41           2         7                 4            5993          1
1   49           1         6                 2            5130          0
2   37           1         2                 3            2090          1
3   33           1         6                 3            2909          1
4   27           1         2                 2            3468          0

   Total Working Years  Years At Company  Attrition
0                    8                 6          1
1                   10                10          0
2                    7                 0          1
3                    8                 8          0
4                    6                 2          0

In [3]:
from sklearn.model_selection import train_test_split

# Séparer les caractéristiques (X) et la cible (y)
X = filtered_data.drop(columns=['Attrition'])  # Remplacez 'Attrition' par le nom de votre colonne cible
y = filtered_data['Attrition']  # La colonne cible

# Diviser les données en 80% entraînement et 20% test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Vérifier les dimensions
print("Taille de X_train :", X_train.shape)
print("Taille de X_test :", X_test.shape)
print("Taille de y_train :", y_train.shape)
print("Taille de y_test :", y_test.shape)

Taille de X_train : (1176, 8)
Taille de X_test : (294, 8)
Taille de y_train : (1176,)
Taille de y_test : (294,)

In [4]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, classification_report

# Initialisation du modèle de régression logistique
model = LogisticRegression(random_state=42, max_iter=10000)

# Entraîner le modèle sur les données d'entraînement
model.fit(X_train, y_train)

# Prédire les valeurs pour les données de test
y_pred = model.predict(X_test)

# Afficher les résultats
print("Matrice de confusion :")
print(confusion_matrix(y_test, y_pred))

Matrice de confusion :
[[252   3]
 [ 36   3]]

In [5]:
 from sklearn.model_selection import cross_val_score

model = LogisticRegression(random_state=42, max_iter=10000)

# Entraîner le modèle sur les données d'entraînement
model.fit(X_train, y_train)

# Prédire les valeurs pour les données de test
y_pred = model.predict(X_test)

# Validation croisée avec la métrique Accuracy
cv_scores = cross_val_score(model, X, y, cv=5, scoring='accuracy')

# Affichage des résultats
print(f"Scores de la validation croisée (Accuracy) : {cv_scores}")
print(f"Score moyen de la validation croisée : {cv_scores.mean():.4f}")
print(f"Écart-type des scores : {cv_scores.std():.4f}")

Scores de la validation croisée (Accuracy) : [0.83333333 0.86054422 0.85034014 0.85034014 0.84693878]
Score moyen de la validation croisée : 0.8483
Écart-type des scores : 0.0088

In [6]:
import joblib
joblib.dump(model, 'model2_turnover.pkl')
print("Modèle sauvegardé en tant que 'model_turnover.pkl'")

Modèle sauvegardé en tant que 'model_turnover.pkl'

In [7]:
filtered_data.to_excel(r'C:\\Users\\MSI\\Desktop\\flusk_HR_Employee_Attrition.xlsx', index=False)